/Active.class
/Animal.class
/Attackable.class
/Controller.class
/Feed.class
/Forest.class
/Gun.class
/Hunter.class
/HunterDog.class
/Item.class
/Map.class
/Mushroom.class
/Net.class
/Prey.class
/Store.class
/Trap.class
/User.class
